@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
    --red: #b90202;
    --white: #f5f5f5;
    --light-color: #666;
    --black: #0d0808;
    --cream: #ffeedd;
    --dark-red: #690000;
    --dark-grey: #5a5f65; 
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.3);
}
*{
    font-family: 'Lato', sans-serif;
    margin: 0; padding:0;
    box-sizing: border-box;
    text-decoration:none;
    outline: none; border:none;
    transition: all .2s linear;
    list-style: none;
}



html{
    font-size:62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

.heading{
    font-size: 55px;
    font-weight: 900;
    color: var(--black);
    padding: 5rem 0;
    text-align: center;
}

p{
    color:var(--black);
    font-size: 25px;
    font-weight: 900;
    padding: 1 6rem;
    line-height: 1.5;
}
.heading3{
    font-size: 40px;
    color: var(--red);
    padding-bottom: 20px;
}

.logo {
    float: left;
}
.siam-orchid-logo{
    width: 150px;
    height: auto;
}

section{
    padding: 2re, 9%;

}
section:nth-child(even){
    background: var(--white);
}

header{
    position: fixed;
    top:0; left: 0; right: 0;
    background-color: rgba(13,8,8,.8);
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);

}

header .navbar a{
    font-size:1.7rem;
    font-weight: bold;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color:var(--white);
}

header .navbar a.active,
header .navbar a:hover{
   color: var(--red);
   background: var(--white);
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--white);
    border-radius: 50%;
    background: #666;
}

header .icons i:hover,
header .icons a:hover{
    color: var(--red);
    background: var(--white);
    transform: rotate(360deg);
}

header .icons #menu-bars{
    display: none;
}

.image-1{
    width: 100%;
    height: 200px;
    background-size: 100% 100%;
    border: none;
}
img {
    width: 100%;
}

/*slider*/
.home-slider{
    box-shadow: var(--box-shadow);
    background-color: var(--cream);
}
.home-slider .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 12px;
}

.home-slider .slide .content{
    flex: 1 1 45rem;
}

.home-slider .slide .image{
    flex: 1 1 45rem;
    max-width: 100%;
    height: auto;
} 

.home-slider .slide .content h3{
    color:var(--red);
    font-size: 45px;
    padding-bottom: 15px;
    text-align: center;
}
.home-slider .slide .content p{
    color:var(--black);
    font-size: 25px;
    padding-left: 10px;;
    line-height: 1.5;
}

.swiper-pagination-bullet-active{
    background:var(--red);
}

.about{
    padding-bottom: 15px;
}

.about .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.about .row .image{
    flex: 1 1 45rem;
}

.image2{
    max-width: 90%;
    height: auto;
}

.about .row .content{
    flex: 1 1 45rem;
    padding: 2rem;

}

.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--white);
    background: var(--dark-grey);
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 4rem;
}

.btn:hover{
    background: var(--red);
    letter-spacing: .1rem;
}

/*menu section*/

/*footer*/
footer{
    background-color: var(--dark-red);
    width: 100%;
    height: 200px;
    text-align: center;
}
footer .footer-space{
    float: left;
    width: 33.33%;
    padding: 10px;
}
 
footer h4{
    color: var(--white);
    font-size: 25px;
    font-weight: 900;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 15px;
}
footer p{
    color: var(--white);
    font-size: 20px;
    font-weight: 700;

}
footer a{
    color: var(--white);
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 30px;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 10px;
    padding-top: 10px;
}
/*menu css*/
.container-menu{
    width: 85%;
    margin: 50px auto;
    text-align: center;
}
.list{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.list li{
    margin: 0px 15px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}
.list li::after{
    content: "";
    position: absolute;
    bottom: -5px;
    width: 0%;
    background: var(--red);
    height: 2px;
    left: 50%;
    transition: .3s ease-in-out;
}
.list li:hover::after{
    width: 100%;
    left: 0;
}
.list li.active{
    color: var(--red);
    transition: .3s ease-in-out;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
}
.box{
    width: 32%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    animation: displayable 1s ease-in-out;
}
.box .text{
    width: 60%;
    text-align: left;
}
.text h3{
    font-size: 22px;
}
.text hr{
    height: 2px;
    background: var(--red);
    width: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.text section{
    font-size: 18px;
    font-weight: bolder;
}

.text i{
    color: var(--light-color);
}
/*map*/













/*media queries */
@media (max-width:991px){
    html{
        font-size:55%;
    }
    header{
        padding:1rem 2rem;
    }
    .siam-orchid-logo{
        width: 100px;
        height: auto;
    }
    .heading{
        font-size: 30px;
        color: var(--black);
        padding: 5rem 0;
        text-align: center;
    }
    p{
        color:var(--black) ;
        font-size: 20px;
        font-weight: 900;
        padding: 1 6rem;
        line-height: 1.5;
    }
    .heading3{
        font-size: 25px;
    }
    .home-slider .slide{
        margin-bottom: 4rem;
    }

    .home-slider .slide .content h3{
        font-size: 27px;
    }
    .home-slider .slide .content p{
        font-size: 22px;
    }
    footer h4{
        font-size: 22px;
    }
    footer p{
        font-size: 18px;
    }
}

@media (max-width:768px){
    header .icons #menu-bars{
        display: inline-block;
    }
    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background-color: rgba(13,8,8,.8);
        border-top: .1rem solid rgba(13,8,8);
        border-bottom: .1rem solid rgba(13,8,8);
        padding: 1rem;
       clip-path: polygon(0 0, 100% 0, 100% 0,0 0);
    }
    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        background: var(--light-color);
    }
    .siam-orchid-logo{
        width: 100px;
        height: auto;
    }
    .heading{
        font-size: 20px;
        font-weight: bolder;
        color: var(--black);
        padding: 5rem 0;
        text-align: center;
    }
    p{
        color:var(--black) ;
        font-size: 16px;
        font-weight: 900;
        padding: 1 6rem;
        line-height: 1.5;
    }
    .heading3{
        font-size: 18px;
    }
    .home-slider .slide{
        margin-bottom: 4rem;
    }

    .home-slider .slide .content h3{
        font-size: 20px;
    }

    .home-slider .slide .content p{
        font-size: 16px;
    }
    footer h4{
        font-size: 16px;
    }
    footer p{
        font-size: 12px;
    }
}

@media (max-width:991px){
    html{
        font-size:50%;
    }
}