@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
    --red: #b90202;
    --white: #f5f5f5;
    --light-color: #666;
    --black: #0d0808;
    --cream: #ffeedd;
    --dark-red: #690000;
    --dark-grey: #5a5f65; 
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.3);
}
*{
    font-family: 'Lato', sans-serif;
    margin: 0; padding:0;
    box-sizing: border-box;
    text-decoration:none;
    outline: none; border:none;
    transition: all .2s linear;
    list-style: none;
}



html{
    font-size:62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

.heading{
    font-size: 55px;
    font-weight: 900;
    color: var(--black);
    padding: 5rem 0;
    text-align: center;
    margin-top: 10px;
}


p{
    color:var(--black);
    font-size: 25px;
    font-weight: 900;
    padding: 1 6rem;
    line-height: 1.5;
    padding-left: 5px;
}
.heading3{
    font-size: 40px;
    color: var(--red);
    padding-bottom: 20px;
}

.logo {
    float: left;
}
.siam-orchid-logo{
    width: 150px;
    height: auto;
}

section{
    padding: 2re, 9%;

}
section:nth-child(even){
    background: var(--white);
}

header{
    position: fixed;
    top:0; left: 0; right: 0;
    background-color: rgba(13,8,8,.8);
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);

}
.disabled_link{
pointer-events: none;
}

header .navbar a{
    font-size:1.7rem;
    font-weight: bold;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color:var(--white);
}

header .navbar a.active,
header .navbar a:hover{
   color: var(--red);
   background: var(--white);
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--white);
    border-radius: 50%;
    background: #666;
}

header .icons i:hover,
header .icons a:hover{
    color: var(--red);
    background: var(--white);
    transform: rotate(360deg);
}

header .icons #menu-bars{
    display: none;
}

.image-1{
    width: 100%;
    height: 200px;
    background-size: 100% 100%;
    border: none;
}
img {
    width: 100%;
}

/*slider*/
.home-slider{
    box-shadow: var(--box-shadow);
    background-color: var(--cream);
}
.home-slider .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 12px;
}

.home-slider .slide .content{
    flex: 1 1 45rem;
}

.home-slider .slide .image{
    flex: 1 1 45rem;
    max-width: 100%;
    height: auto;
} 

.home-slider .slide .content h3{
    color:var(--red);
    font-size: 45px;
    padding-bottom: 15px;
    text-align: center;
}
.home-slider .slide .content p{
    color:var(--black);
    font-size: 25px;
    padding-left: 10px;;
    line-height: 1.5;
}

.swiper-pagination-bullet-active{
    background:var(--red);
}

.about{
    padding-bottom: 15px;
}

.about .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.about .row .image{
    flex: 1 1 45rem;
}

.image2{
    max-width: 90%;
    height: auto;
}

.about .row .content{
    flex: 1 1 45rem;
    padding: 2rem;

}

.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--white);
    background: var(--dark-grey);
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 4rem;
}

.btn:hover{
    background: var(--red);
    letter-spacing: .1rem;
}

/*footer*/
footer{
    background-color: var(--dark-red);
    width: 100%;
    height: 200px;
    text-align: center;
}
footer .footer-space{
    float: left;
    width: 33.33%;
    padding: 10px;
}
 
footer h4{
    color: var(--white);
    font-size: 25px;
    font-weight: 900;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 15px;
}
footer p{
    color: var(--white);
    font-size: 20px;
    font-weight: 700;

}
footer a{
    color: var(--white);
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 30px;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 10px;
    padding-top: 10px;
}
/*menu css*/
.container-menu{
    width: auto;
    background-color: #ffeedd;
    box-shadow:0 .5rem 1.5rem rgba(0,0,0,.3);
    padding:10px;
    border-radius: .5rem;
}   
.menu .par{
    text-align: center;
    padding-bottom: 10px;
}

.menu .container{
    display: grid;
   grid-auto-rows: 370px;
    grid-template-columns: repeat(auto-fit, 30rem);
    gap: 1.5rem;
    justify-content: center;
    padding-bottom: 30px;
}

.menu-info h3{
    font-size: 40px;
    color: var(--red);
    font-weight: bold;
    text-align: center;
}
.menu .container .box {
     
    background: var(--white);
    border: .1rem solid rgba(0,0,0,.3);
    transition: 0.3s;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);

}
.menu .container .box .menuItem{
     
   height: 270px


}




.menu .container .box:hover{
    
   
    border: .1rem solid rgba(0,0,0,.3);
    transition: 0.3s;
    border-radius: .5rem;
    box-shadow:0 1.0rem 2.5rem rgba(0,0,0,.3);

}
.menu .tabContent {
    display: none;
}
.menu .tabContent.active {
    display: block;
    
}
input[type=submit]{
    position: static;
    top: 100px;
    width: 100%;
     padding: 10px 14px;
    background-color: #690000; 
    font-weight: bold;
    color: rgb(255, 255, 255); 
    border: 2px solid #690000;
    cursor: pointer;

}

input[type=number]{

    width: 100%;
    padding: 12px 10px;
    box-sizing: border-box;
}

.menu .image{
    height: 25rem;
    width: 100%;
    padding: 1.5rem;
    overflow: hidden;
    position: relative;
}
.menu img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}

.emptyCart{
    text-align: center;
}



/*media*/
.menu h4{
    color: var(--black);
    font-size: 25px;
    padding-left: 5px;
    padding-bottom: 10px;
}
.menu span{
    color: var(--black);
    font-size: 25px;
    font-weight: bolder;
    padding-left: 5px;
}
.menu-button{
    align-items: center;
}
.container-menu .tab-box{
    width: 100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
   padding: 7px;
   padding-bottom: 40px;
    font-size: 18px;
}
.tab-box .tab{
  font-size: 18px;
  font-weight: 600;
  color: #690000;
  background: none;
  border: none;
  padding: 5px;
  cursor:pointer;
   
}
.tab-box .tab.active{
    
    border-bottom: 2px solid darkred;
}
table {
    margin-top: 20px;
    border: #690000;
    border-collapse: collapse;
    border-spacing: 20px;
    font-size: 15px;
    font-weight: 2px;
    background-color: #f5f5f5;
    width: 50%; box-shadow:0 .5rem 1.5rem rgba(0,0,0,.3);
    border-radius: 4px;
    
    
}
table, tr{
    border: 1px solid;
    
}
table, th, td{
    
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    color: #0d0808;
}
table, th{
    font-weight: bold;
    color: #0d0808;
}
.orderMethod{
   text-align: center;
}
.orderMethod h3{
font-size: 25px;
}
.checkstyle{
    font-weight: bold;
    color: #f5f5f5;
    cursor:pointer;
}
.orderMethod .orderbtn{
    border: 1px solid #690000;
    border-radius: 4px;
    margin: 20px;
    padding: 5px;
    font-size: 25px;
    background-color:#690000;
    color: #f5f5f5;
    font-weight: bold;
   
   
}
.orderMethod .orderbtn a{
    font-weight: bold;
    color: #f5f5f5;
   
}
.message .orderbtn {
    border: 1px solid #a40000;
    border-radius: 4px;
    margin: 20px;
    padding: 5px;
    font-size: 25px;
    background-color:#690000;
    color: #f5f5f5;
   
}
.successbody{
    background-color: #ffeedd;
}
.card{
    background-color: #f5f5f5;
    box-shadow:0 .5rem 1.5rem rgba(0,0,0,.3);
    width: 30%;
    justify-content: center;
   margin: auto;
   margin-top: 300px;
   border-radius: 4px;
}
 .card .message{
    padding: 6px 18px;
    text-align: center;
  }
  .message h4{
    
    font-size: 20px;
  }
.message .orderbtn a{
    font-weight: bold;
    color: #f5f5f5;
   
}
.deletebtn{
    border: 1px solid #690000;
    border-radius: 4px;
    margin: 10px;
    padding: 5px;
    font-size: 15px;
    background-color: #690000;
    color: #690000;
   
}
.deletebtn a {
    font-weight: bold;
    color:#f5f5f5;
}
.cartbody{
    background-color: #ffeedd;
}


/*map*/













/*media queries */
@media (max-width:991px){
    html{
        font-size:55%;
    }
    header{
        padding:1rem 2rem;
    }
    .siam-orchid-logo{
        width: 100px;
        height: auto;
    }
    .heading{

        font-size: 30px;
        color: var(--black);
        padding: 5rem 0;
        text-align: center;
    }
    .cartHeading{
        margin-top: 40%;
        font-size: 30px;
        color: var(--black);
        padding: 5rem 0;
        text-align: center;
    }
    p{
        color:var(--black) ;
        font-size: 20px;
        font-weight: 900;
        padding: 1 6rem;
        line-height: 1.5;
    }
    .heading3{
        font-size: 25px;
    }
    .home-slider .slide{
        margin-bottom: 4rem;
    }

    .home-slider .slide .content h3{
        font-size: 27px;
    }
    .home-slider .slide .content p{
        font-size: 22px;
    }
    footer h4{
        font-size: 22px;
    }
    footer p{
        font-size: 18px;
    }
    .menu-info h3{
        font-size: 27px;
    }
    .menu h4{
        font-size: 22px;
    }
    .menu span{
        font-size: 18px;
    }
    .tab-box .tab{
        font-size: 14px;
                
      }
}

@media (max-width:768px){
    header .icons #menu-bars{
        display: inline-block;
    }
    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background-color: rgba(13,8,8,.8);
        border-top: .1rem solid rgba(13,8,8);
        border-bottom: .1rem solid rgba(13,8,8);
        padding: 1rem;
       clip-path: polygon(0 0, 100% 0, 100% 0,0 0);
    }
    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        background: var(--light-color);
    }
    .siam-orchid-logo{
        width: 100px;
        height: auto;
    }
    .heading{
        font-size: 20px;
        font-weight: bolder;
        color: var(--black);
        padding: 5rem 0;
        text-align: center;
    }
    p{
        color:var(--black) ;
        font-size: 16px;
        font-weight: 900;
        padding: 1 6rem;
        line-height: 1.5;
    }
    .heading3{
        font-size: 18px;
    }
    .home-slider .slide{
        margin-bottom: 4rem;
    }

    .home-slider .slide .content h3{
        font-size: 20px;
    }

    .home-slider .slide .content p{
        font-size: 16px;
    }
    footer h4{
        font-size: 16px;
    }
    footer p{
        font-size: 12px;
    }
    .menu-info h3{
        font-size: 20px;
    }
    .menu h4{
        color: var(--black);
        font-size: 16px;
    }
    .menu span{
        color: var(--black);
        font-size: 14px;
        font-weight: bolder;
    }
    .tab-box .tab{
        font-size: 8px;
                
      }
}

@media (max-width:991px){
    html{
        font-size:50%;
    }
}